In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta
import warnings

TH = 0.98

In [2]:
#데이터 인코딩 문제

In [3]:
data = pd.read_csv('storage/ecommerce.csv', encoding="ISO-8859-1")
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [4]:
data_UK = data[data['Country'] == 'United Kingdom']
data_UK['total_price'] = data_UK['Quantity'] * data_UK['UnitPrice']
data_UK['InvoiceDate'] = pd.to_datetime(data_UK['InvoiceDate'])
data_UK['InvoiceDate_15m'] = data_UK['InvoiceDate'].dt.round('15min')
data_UK['InvoiceDate_1h'] = data_UK['InvoiceDate'].dt.round('1h')

C:\Users\dpapf\AppData\Local\Temp\ipykernel_15728\1574451463.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_UK['total_price'] = data_UK['Quantity'] * data_UK['UnitPrice']
C:\Users\dpapf\AppData\Local\Temp\ipykernel_15728\1574451463.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_UK['InvoiceDate'] = pd.to_datetime(data_UK['InvoiceDate'])
C:\Users\dpapf\AppData\Local\Temp\ipykernel_15728\1574451463.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_UK['InvoiceDate_15m'] = data_UK['InvoiceDate'].dt.round('15min')
C:\Users\dpapf\AppData\Local\Temp\ipykernel_15728\1574451463.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_UK['InvoiceDate_1h'] = data_UK['InvoiceDate'].dt.round('1h')

In [5]:
data_UK_clean = data_UK.copy()
data_UK_clean["UnitPrice"] = data_UK_clean["UnitPrice"].clip(data_UK_clean["UnitPrice"].quantile(1-TH), 
                                                             data_UK_clean["UnitPrice"].quantile(TH))
data_UK_clean["Quantity"] = data_UK_clean["Quantity"].clip(data_UK_clean["Quantity"].quantile(1-TH), 
                                                           data_UK_clean["Quantity"].quantile(TH))
data_UK_clean["total_price"] = data_UK_clean["total_price"].clip(data_UK_clean["total_price"].quantile(1-TH), 
                                                                 data_UK_clean["total_price"].quantile(TH))

In [6]:
data_UK_1h = data_UK.groupby('InvoiceDate_1h').agg({'total_price':'sum'})

In [7]:
data_UK_1h.head()

                     total_price
InvoiceDate_1h
2010-12-01 08:00:00       161.32
2010-12-01 09:00:00      1203.09
2010-12-01 10:00:00      8490.18
2010-12-01 11:00:00      3916.21
2010-12-01 12:00:00      8149.77

In [8]:
t = np.arange(data_UK_1h.index[0], data_UK_1h.index[-1]+timedelta(hours=1), timedelta(hours=1)).astype(datetime)

In [9]:
train_test = pd.DataFrame()
train_test['ds'] = pd.to_datetime(t)
train_test['y'] = 0
train_test['cap'] = 20000
train_test['floor'] = -2000
train_test.iloc[train_test['ds'].isin(data_UK_1h.index), 1] = data_UK_1h['total_price']

In [10]:
train_test.head()

                   ds        y    cap  floor
0 2010-12-01 08:00:00   161.32  20000  -2000
1 2010-12-01 09:00:00  1203.09  20000  -2000
2 2010-12-01 10:00:00  8490.18  20000  -2000
3 2010-12-01 11:00:00  3916.21  20000  -2000
4 2010-12-01 12:00:00  8149.77  20000  -2000

In [11]:
from fbprophet import Prophet
from fbprophet.diagnostics import cross_validation
from fbprophet.diagnostics import performance_metrics
import optuna

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

ModuleNotFoundError: No module named 'fbprophet'

In [ ]:
!pip install fbpro